.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.header-right {
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
.chakra-divider {
    color: black !important;
}
.notifications {
    position: absolute;
    top: -4px;
    right: 68px;
    border: 1px solid rgb(228, 81, 81);
    border-radius: 100px;
    padding-left: 8px;
    z-index: 1;
    background-color: rgb(228, 81, 81);
    color: white;
    padding-right: 8px;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: #7e8287;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(100, 137, 231);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(100, 137, 231);
}
