.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.header-right {
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
.chakra-divider {
    color: black !important;
}
.notifications {
    position: absolute;
    top: -4px;
    right: 70px;
    border: 1px solid rgb(228, 81, 81);
    border-radius: 100px;
    padding-left: 6px;
    z-index: 1;
    background-color: rgb(228, 81, 81);
    color: white;
    padding-right: 6px;
}
